.btn-container{
    display: flex;
    position:absolute;
    width: 100%;
    top: 40%;
    left: 0;
}

.description-container{
    position: absolute;
    bottom: 17%;
    left: 2%;
    color: white;
}

.thumbnail-container img{
    max-width: 100%;
    object-fit: fill;
    opacity: .7;
    transition: all .7s;
}

.thumbnail-container img.active{
    opacity: 1;
}

